<br>
<div class="container">
    <h2 class="row justify-content-md-center">Personas Registradas</h2>
<br>

    <button class="btn btn-info" type="button" [routerLink]="['/personas/formulario']">Agregar Persona</button>
    <br>

<br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido Paterno</th>
                <th scope="col">Apellido Materno</th>
                <th scope="col">Identificacion</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of personas">
                <th scope="row">{{person.id}}</th>
                <td>{{person.nombre}}</td>
                <td>{{person.apellidoPaterno}}</td>
                <td>{{person.apellidoMaterno}}</td>
                <td>{{person.identificacion}}</td>
                <td><button>Facturas</button></td>

            </tr>

        </tbody>
    </table>

</div>